@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* font-family: 'Roboto', sans-serif; */
._container {
  max-width: 1280px;
  margin: 0 auto; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header .container__navigation-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header .container__navigation-header .container__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .container__navigation-header .container__navigation .container__btn-buy a {
      padding: 14px 18px 12px 18px;
      background-color: #DDDBDA;
      color: #3F3B3D; }
      .header .container__navigation-header .container__navigation .container__btn-buy a:hover {
        background-color: #ff0404;
        color: white; }
    .header .container__navigation-header .container__navigation ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .header .container__navigation-header .container__navigation ul li {
        padding: 40px; }
      .header .container__navigation-header .container__navigation ul a {
        text-align: center;
        color: #3F3B3D; }
        .header .container__navigation-header .container__navigation ul a:hover {
          border-bottom: 2px solid #3F3B3D; }
    .header .container__navigation-header .container__navigation .container__auxiliary-icon {
      padding: 0 24px; }

.main .container__first-img {
  margin: 80px auto;
  max-height: 500px; }
  .main .container__first-img .container__img-meet .container__img-btn {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #3F3B3D;
    padding: 256px 768px 70px 64px;
    max-width: 370px; }
    .main .container__first-img .container__img-meet .container__img-btn h2 {
      color: #FFFFFF;
      font-family: 'Roboto';
      font-size: 33px;
      line-height: 42.5px; }
    .main .container__first-img .container__img-meet .container__img-btn .links__atcive {
      color: #FFFFFF;
      background-color: #F14814;
      padding: 11px 26px;
      font-family: 'Roboto';
      font-size: 16px;
      line-height: 21.33px;
      border: 2px solid transparent;
      max-width: 178px; }
      .main .container__first-img .container__img-meet .container__img-btn .links__atcive:hover {
        background-color: #3F3B3D;
        border: 2px solid #F14814; }
    .main .container__first-img .container__img-meet .container__img-btn a {
      color: #FFFFFF;
      font-size: 16px;
      line-height: 21.33px;
      font-family: 'roboto';
      max-width: 198px;
      padding: 11px 26px;
      border: 2px solid transparent; }
      .main .container__first-img .container__img-meet .container__img-btn a:hover {
        border: 2px solid #F14814; }
  .main .container__first-img .container__img-background {
    position: relative;
    z-index: 1;
    left: 40%;
    top: -562px; }

.main .container__second-information .container__information span {
  color: #F14814;
  font-family: 'roboto';
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  text-align: center;
  margin: 0 auto;
  max-width: 98px;
  display: -ms-grid;
  display: grid;
  padding-bottom: 16px; }

.main .container__second-information .container__information h3 {
  font-family: 'roboto';
  font-size: 27px;
  letter-spacing: 0.35px;
  line-height: 37px;
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
  padding-bottom: 59px; }

.main .container__second-information .container__description-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto; }
  .main .container__second-information .container__description-advantages .container__advantages {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    text-align: center; }
    .main .container__second-information .container__description-advantages .container__advantages img {
      margin: 0 auto; }
    .main .container__second-information .container__description-advantages .container__advantages h4 {
      font-size: 21px;
      line-height: 24px;
      text-align: center;
      font-family: 'roboto';
      color: #3F3B3D; }
    .main .container__second-information .container__description-advantages .container__advantages p {
      font-family: 'roboto';
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: #3F3B3D; }

.main .container__catalog {
  padding: 64px 0 8px 0;
  margin-bottom: 40px; }
  .main .container__catalog .container__catalog-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .main .container__catalog .container__catalog-items .catalog {
      position: relative;
      z-index: 1; }
      .main .container__catalog .container__catalog-items .catalog .container__price {
        position: relative;
        max-width: 397px;
        z-index: 2;
        padding: 12px 0;
        margin: -40px auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        border-top: 1px solid rgba(0, 0, 0, 0.08); }
        .main .container__catalog .container__catalog-items .catalog .container__price span {
          text-transform: uppercase;
          font-family: 'Roboto';
          font-size: 12px;
          line-height: 16px; }

.main .container__shop {
  padding-bottom: 130px; }
  .main .container__shop .container__img-shop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .main .container__shop .container__img-shop .container__description-shop {
      position: relative;
      z-index: 2;
      margin: -98px auto;
      color: #FFFFFF; }
      .main .container__shop .container__img-shop .container__description-shop h2 {
        font-family: 'Roboto';
        font-size: 39px;
        line-height: 44px;
        letter-spacing: 0.44px;
        text-align: center;
        margin: 0; }
      .main .container__shop .container__img-shop .container__description-shop p {
        font-family: 'roboto';
        font-size: 14px;
        font-weight: 18.66px;
        text-align: center; }
    .main .container__shop .container__img-shop .first__container img {
      position: relative;
      z-index: 1; }
