@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* font-family: 'Roboto', sans-serif; */

._container {
    max-width: 1280px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    .container__navigation-header {
        display:flex;
        justify-content: space-between;
        align-items: center;
        .container__header-logo{}
        .container__navigation {
            display: flex;
            align-items: center;
            .container__btn-buy {
                a {
                    padding: 14px 18px 12px 18px;
                    background-color: #DDDBDA;
                    color: #3F3B3D;
                    &:hover {
                        background-color: rgb(255, 4, 4);
                        color: white;
                    }
                }
            }
            ul {
                display: flex;
                li {
                    padding: 40px;
                }
                a {
                    text-align: center;
                    color: #3F3B3D;
                    &:hover {
                        border-bottom: 2px solid #3F3B3D;
                    }
                }
            }
            .container__auxiliary-icon {
                padding: 0 24px;
            }
        }
    }
}

.main {
    .container__first-img {
        margin: 80px auto;
        max-height: 500px;
        .container__img-meet {
            .container__img-btn {
                // display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #3F3B3D;
                padding: 256px 768px 70px 64px;
                max-width: 370px;
                h2 {
                    color: #FFFFFF;
                    font-family: 'Roboto';
                    font-size: 33px;
                    line-height: 42.5px;
                }
                .links__atcive {
                    color: #FFFFFF;
                    background-color: #F14814;
                    padding: 11px 26px;
                    font-family: 'Roboto';
                    font-size: 16px;
                    line-height: 21.33px;
                    border: 2px solid transparent;
                    max-width: 178px;
                    &:hover {
                        background-color: #3F3B3D;
                        border: 2px solid #F14814;
                    }
                }
                a {
                    color: #FFFFFF;
                    font-size: 16px;
                    line-height: 21.33px;
                    font-family: 'roboto';
                    max-width: 198px;
                    padding: 11px 26px;
                    border: 2px solid transparent;
                    &:hover {
                        border: 2px solid #F14814;
                    }
                }
            }
        }
        .container__img-background {
            position: relative;
            z-index: 1;
            left: 40%;
            top: -562px;
        }
    }
    .container__second-information {
        .container__information {
            span {
                color: #F14814;
                font-family: 'roboto';
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 1px;
                text-align: center;
                margin: 0 auto;
                max-width: 98px;
                display: grid;
                padding-bottom: 16px;
            }
            h3 {
                font-family: 'roboto';
                font-size: 27px;
                letter-spacing: 0.35px;
                line-height: 37px;
                text-align: center;
                margin: 0 auto;
                max-width: 700px;
                padding-bottom: 59px;
            }
        }
        .container__description-advantages {
            display: flex;
            justify-content: space-between;
            max-width: 800px;
            margin: 0 auto;
            .container__advantages {
                align-items: center;
                margin: 0 auto;
                display: grid;
                text-align: center;
                img {
                    margin: 0 auto;
                }
                h4 {
                    font-size: 21px;
                    line-height: 24px;
                    text-align: center;
                    font-family: 'roboto';
                    color: #3F3B3D;
                }
                p {
                    font-family: 'roboto';
                    font-size: 12px;
                    line-height: 16px;
                    text-align: center;
                    color: #3F3B3D;
                }
            }
        }
    }
    .container__catalog {
        padding: 64px 0 8px 0;
        margin-bottom: 40px;
        .container__catalog-items {
            display: flex;
            justify-content: space-between;
            .catalog {
                position: relative;
                z-index: 1;
                .container__price {
                    position: relative;
                    max-width: 397px;
                    z-index: 2;
                    padding: 12px 0;
                    margin: -40px auto;
                    display: flex;
                    justify-content: space-between;
                    border-top: 1px solid rgba(0, 0, 0, 0.08);
                    span {
                        text-transform: uppercase;
                        font-family: 'Roboto';
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
            }
        }
    }
    .container__shop {
        padding-bottom: 130px;
        .container__img-shop { 
            display: flex;
            justify-content: space-between;
            .container__description-shop {
                position: relative;
                z-index: 2;
                margin: -98px auto;
                color: #FFFFFF;
                h2 {
                    font-family: 'Roboto';
                    font-size: 39px;
                    line-height: 44px;
                    letter-spacing: 0.44px;
                    text-align: center;
                    margin: 0;
                }
                p {
                    font-family: 'roboto';
                    font-size: 14px;
                    font-weight: 18.66px;
                    text-align: center;
                }
            }
            .first__container {
                img {
                    position: relative;
                    z-index: 1;
                }
            }
        }
    }
    .container__reviews {
        h2 { 
            padding: 108px 0 31px 0;
            margin: 0 auto;
            font-family: 'Roboto';
            font-size: 29px;
            line-height: 35.2px;
            text-align: center;
            text-transform: uppercase;
        }
        .container__reviews-real {
            display: flex;
            justify-content: space-around;
            max-width: 1080px;
            margin: 0 auto;
            .container__img-reviews {}
            .container__text-reviews {
                width: 536px;
                background-color: #DCEAE9;
                p {
                    max-width: 408px;
                    font-size: 24px;
                    text-align: center;
                    line-height: 32px;
                    font-family: 'roboto';
                    color: #3F3B3D;
                    padding: 203px 0 0 64px;
                }
                span {
                    font-family: 'Roboto';
                    font-size: 12px;
                    line-height: 16px;
                    text-align: center;
                    margin: 0 auto;
                    display: inherit;
                }
            }
        }
    }
    .container__journal {
        .container__journal-img {
            position: relative;
            z-index: 1;
            .container__img-description {
                max-width: 476px;
                min-height: 218px;
                background-color: #b94e2d;
                position: relative;
                z-index: 2;
                span {
                    font-family: 'Roboto';
                    font-size: 12px;
                    line-height: 16px;
                    text-align: center;
                    color: #5D6E67;
                }
                h4 {
                    font-family: 'Roboto';
                    font-size: 24px;
                    line-height: 28.8px;
                    text-align: center;
                    color: #3F3B3D;
                }
                p {
                    font-family: 'roboto';
                    font-size: 16px;
                    line-height: 21.33px;
                    text-align: center;
                    color: #3F3B3D;
                }
                a {
                    font-size: 16px;
                    font-weight: 700;
                    font-family: 'roboto';
                    line-height: 21.33px;
                    text-align: center;
                    color: #3F3B3D;
                }
            }
        }
    }
}
